body {
	color: #333333;
	background-color: #d9d9d9;
	font-family: Georgia, serif;
}

img.picture {
	display: block;
	margin: auto;
	width: 60%;
	padding: auto;
}

a {
	color: #5F8EA9;
	text-decoration: none;
}

a:hover {
	color: #33627D;
	text-decoration: none;
}

.currentlink {
	color: #A13030;
	text-decoration: none;
}

li {
	padding: 5px;
	margin-right: 10px;
	display: inline;
	font-weight: bold;
}

.body {
	display: block;
	margin: auto;
	align-content: center;
	width: 60%;
}

p.alati {
	text-indent: 30px;
}

hr {
	color: #262626;
}