#ENG {
	width: 20px;
	height: 14px;
	padding-left: 0px;
}

a {
	display: inline-block;
	color: #5F8EA9;
	text-decoration: none;
}

a:hover {
	color: #33627D;
	text-decoration: none;
}

.currentlink {
	color: #A13030;
	text-decoration: none;
}

li {
	padding: 5px;
	margin-right: 10px;
	display: inline;
	font-weight: bold;
}